<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BlobStorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=azuredam;AccountKey=tlg2jeA3JKs/E03lhN/QABgFgqmIAYtQpJ7n7WoBrXDUW6Zv6tG9N0f9lfj7fEgpkBjr9vobOCjN4pCE1uTnsw==" />
  </connectionStrings>
</configuration>